Data Cleaning

In [1]:
# -*- coding: utf-8 -*-
"""badm-554-mini-project-1-group-3.ipynb

Automatically generated by Colab.

Original file is located at
    https://colab.research.google.com/drive/1rrTIHXoZD8P1y8tPE6mrkn4_T1KFTsiv
"""

# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import json

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

data_file = open("/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json")
data = []
for line in data_file:
    data.append(json.loads(line))
review_df = pd.DataFrame(data)
data_file.close()

review_df[['date', 'time']] = review_df['date'].str.split(' ', expand=True)

review_df['date'] = pd.to_datetime(review_df['date'])
review_df['time'] = pd.to_datetime(review_df['time'],format='%H:%M:%S')

review_df
#linked to user and business table through user_id and business_id

data_file = open("/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json")
data = []
for line in data_file:
    data.append(json.loads(line))
checkin_df = pd.DataFrame(data)
data_file.close()

checkin_df["date"] = checkin_df["date"].str.split(", ")
checkin_df_exploded = checkin_df.explode("date", ignore_index = True)
checkin_df_exploded.insert(0, "checkin_id", range(1, len(checkin_df_exploded) + 1))

checkin_df_exploded['date'] = pd.to_datetime(checkin_df_exploded['date'])

checkin_df_exploded

checkin_df_exploded.dtypes

data_file = open("/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json")
data = []
for line in data_file:
    data.append(json.loads(line))
business_df = pd.DataFrame(data)
data_file.close()

business_df.drop(['review_count','stars'],axis=1,inplace=True)

business_df = pd.concat([business_df.drop(columns=['hours']), pd.json_normalize(business_df['hours'])], axis=1)

business_df = business_df.rename(columns={'Monday':'monday_hours','Tuesday':'tuesday_hours','Wednesday':'wednesday_hours','Thursday':'thursday_hours','Friday':'friday_hours','Saturday':'saturday_hours','Sunday':'sunday_hours'})

business_df

records = []

for _, row in business_df.iterrows():
    business_id = row['business_id']
    attrs = row['attributes']

    if not isinstance(attrs, dict):
        continue

    for key, val in attrs.items():
        # Store raw text form (keep nested dicts as-is)
        records.append({
            'business_id': business_id,
            'attribute_name': key,
            'attribute_value': str(val)  # store everything as text
        })

business_attributes = pd.DataFrame(records)

business_attributes

business_df.drop('attributes',axis=1,inplace=True)

data_file = open("/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json")
data = []
for line in data_file:
    data.append(json.loads(line))
tip_df = pd.DataFrame(data)
data_file.close()

tip_df
#linked to user and business table through user_id and business_id

tip_df_cleaned = tip_df[['user_id','business_id','text','date']]

tip_df_cleaned['date'] = pd.to_datetime(tip_df_cleaned['date'])

tip_df_cleaned

data_file = open("/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json")
data = []
for line in data_file:
    data.append(json.loads(line))
user_df = pd.DataFrame(data)
data_file.close()

user_df.columns

user_df.drop(['review_count','average_stars'],axis=1,inplace=True)

review_df

checkin_df_exploded

business_df

business_categories_df = business_df[['business_id','categories']]

business_categories_df

business_categories_df["categories"] = business_categories_df["categories"].str.split(", ")
business_categories_df_exploded = business_categories_df.explode("categories", ignore_index = True)
business_categories_df_exploded.insert(0, "category_id", range(1, len(business_categories_df_exploded) + 1))

business_categories_df_exploded

business_attributes

business_attributes.insert(0, "attribute_id", range(1, len(business_attributes) + 1))

business_attributes

tip_df_cleaned

tip_df_cleaned.insert(0, "tip_id", range(1, len(tip_df_cleaned) + 1))

tip_df_cleaned

tip_df_cleaned.dtypes

user_df

user_df[user_df['elite'] == '20,20,2021']
#data seems to be incorrectly formatted in the elite column. 2020 may be inputted as 20,20

user_df['elite'] = user_df['elite'].str.replace('20,20','2020')

user_df['elite'].value_counts()

elite_years_df = user_df[['user_id','elite']]

elite_years_df

elite_years_df["elite"] = elite_years_df["elite"].str.split(",")
elite_years_df_exploded = elite_years_df.explode("elite", ignore_index = True)
elite_years_df_exploded.insert(0, "elite_id", range(1, len(elite_years_df_exploded) + 1))

elite_years_df_exploded

elite_years_df_exploded['elite'].value_counts()

elite_years_df_exploded['elite_years'] = pd.to_numeric(elite_years_df_exploded['elite'])

elite_years_df_exploded.drop('elite',axis=1,inplace=True)

user_df.drop('elite',axis=1,inplace=True)

business_df.drop('categories', axis=1,inplace=True)

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json'

In [ ]:
# %% [code]
# -*- coding: utf-8 -*-
"""badm-554-mini-project-1-group-3.ipynb

Automatically generated by Colab.

Original file is located at
    https://colab.research.google.com/drive/1rrTIHXoZD8P1y8tPE6mrkn4_T1KFTsiv
"""

# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import json

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

#linked to user and business table through user_id and business_id
import json
import pandas as pd

# 讀取 Business JSON
data_file = open("/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json")
data = []
for line in data_file:
    data.append(json.loads(line))
business_df = pd.DataFrame(data)
data_file.close()

# ✅ 正確保留 is_open，不要轉錯（Yelp 原本就是 0/1）
business_df['is_open'] = business_df['is_open'].astype(int)

# ✅ 展開 hours
business_df = pd.concat(
    [business_df.drop(columns=['hours']),
     pd.json_normalize(business_df['hours'])],
    axis=1
)

# ✅ Hours 欄位重新命名
business_df = business_df.rename(columns={
    'Monday':'monday_hours',
    'Tuesday':'tuesday_hours',
    'Wednesday':'wednesday_hours',
    'Thursday':'thursday_hours',
    'Friday':'friday_hours',
    'Saturday':'saturday_hours',
    'Sunday':'sunday_hours'
})

# ✅ 移除 attributes，之後會拆到 attribute 表
business_df.drop(columns=['attributes'], inplace=True)

# ✅ 最終欄位（只保留需要的 16 欄）
business_df = business_df[['business_id','name','address','city','state','postal_code',
                           'latitude','longitude','is_open',
                           'monday_hours','tuesday_hours','wednesday_hours',
                           'thursday_hours','friday_hours','saturday_hours','sunday_hours']]

# ✅ 先把 city 可能的 NaN 補成空字串，避免字串操作報錯
business_df['city'] = business_df['city'].fillna('')

# ✅ 標準化 city：去掉 . 與空白、trim、轉小寫
#    例： "Santa Barbara"、"Santa  Barbara."、"Santa.Barbara" → "santabarbara"
business_df['city'] = (
    business_df['city']
      .astype(str)
      .str.strip()
      .str.replace(r"[.\s]+", "", regex=True)
      .str.lower()
)

# ✅ 其他欄位空值補齊（不影響 city 的正規化）
business_df = business_df.fillna("")

print("✅ business_df rows:", len(business_df))
display(business_df.head())

Exported as parquet

In [ ]:
business_df.to_parquet("business.parquet")
business_categories_df_exploded.to_parquet("category.parquet")
business_attributes.to_parquet("attribute.parquet")
checkin_df_exploded.to_parquet("checkin.parquet")
tip_df_cleaned.to_parquet("tip.parquet")
user_df.to_parquet("user.parquet")
elite_years_df_exploded.to_parquet("elite.parquet")
review_df.to_parquet("review.parquet")

Upload to Azure Blob Storage + COPY INTO

Built Data Table

In [ ]:
-- 1. category
IF OBJECT_ID('tb_category', 'U') IS NOT NULL DROP TABLE tb_category;
CREATE TABLE tb_category (
    category_id NVARCHAR(50) PRIMARY KEY,
    business_id NVARCHAR(50),
    categories NVARCHAR(4000)
);

-- 2. attribute
IF OBJECT_ID('tb_attribute', 'U') IS NOT NULL DROP TABLE tb_attribute;
CREATE TABLE tb_attribute (
    attribute_id NVARCHAR(50) PRIMARY KEY,
    business_id NVARCHAR(50),
    attribute_name NVARCHAR(255),
    attribute_value NVARCHAR(255)
);

-- 3. checkin
IF OBJECT_ID('tb_checkin', 'U') IS NOT NULL DROP TABLE tb_checkin;
CREATE TABLE tb_checkin (
    checkin_id NVARCHAR(50) PRIMARY KEY,
    business_id NVARCHAR(50),
    date DATETIME
);

-- 4. elite
IF OBJECT_ID('tb_elite', 'U') IS NOT NULL DROP TABLE tb_elite;
CREATE TABLE tb_elite (
    elite_id NVARCHAR(50) PRIMARY KEY,
    user_id NVARCHAR(50),
    elite_years NVARCHAR(255)
);

-- 5. tip
IF OBJECT_ID('tb_tip', 'U') IS NOT NULL DROP TABLE tb_tip;
CREATE TABLE tb_tip (
    tip_id NVARCHAR(50) PRIMARY KEY,
    user_id NVARCHAR(50),
    business_id NVARCHAR(50),
    text NVARCHAR(MAX),
    date DATETIME
);

-- 6. user
IF OBJECT_ID('tb_user', 'U') IS NOT NULL DROP TABLE tb_user;
CREATE TABLE tb_user (
    user_id NVARCHAR(50) PRIMARY KEY,
    name NVARCHAR(255),
    yelping_since DATETIME,
    useful INT,
    funny INT,
    cool INT,
    friends NVARCHAR(MAX),
    fans INT,
    compliment_hot INT,
    compliment_more INT,
    compliment_profile INT,
    compliment_cute INT,
    compliment_list INT,
    compliment_note INT,
    compliment_plain INT,
    compliment_cool INT,
    compliment_funny INT,
    compliment_writer INT,
    compliment_photos INT
);

-- 7. review
IF OBJECT_ID('tb_review', 'U') IS NOT NULL DROP TABLE tb_review;
CREATE TABLE tb_review (
    review_id NVARCHAR(50) PRIMARY KEY,
    user_id NVARCHAR(50),
    business_id NVARCHAR(50),
    stars INT,
    useful INT,
    funny INT,
    cool INT,
    text NVARCHAR(MAX),
    date DATETIME,
    time NVARCHAR(50)
);

-- 8. business
IF OBJECT_ID('tb_business', 'U') IS NOT NULL DROP TABLE tb_review;
CREATE TABLE tb_business (
    business_id NVARCHAR(50) PRIMARY KEY,
    name NVARCHAR(255),
    address NVARCHAR(255),
    city NVARCHAR(100),
    state NVARCHAR(50),
    postal_code NVARCHAR(20),
    latitude FLOAT,
    longitude FLOAT,
    is_open BIT,
    monday_hours NVARCHAR(100),
    tuesday_hours NVARCHAR(100),
    wednesday_hours NVARCHAR(100),
    thursday_hours NVARCHAR(100),
    friday_hours NVARCHAR(100),
    saturday_hours NVARCHAR(100),
    sunday_hours NVARCHAR(100)

);

Importing Azure SQL database

In [ ]:
#The database login information has been removed for security purposes
DECLARE @sastoken NVARCHAR(MAX) =
'';

COPY INTO tb_category
FROM 'https://yelpallen.blob.core.windows.net/yelp/category.parquet' + @sastoken
WITH (FILE_TYPE = 'PARQUET');

COPY INTO tb_attribute
FROM 'https://yelpallen.blob.core.windows.net/yelp/attribute.parquet' + @sastoken
WITH (FILE_TYPE = 'PARQUET');

COPY INTO tb_checkin
FROM 'https://yelpallen.blob.core.windows.net/yelp/checkin.parquet' + @sastoken
WITH (FILE_TYPE = 'PARQUET');

COPY INTO tb_elite
FROM 'https://yelpallen.blob.core.windows.net/yelp/elite.parquet' + @sastoken
WITH (FILE_TYPE = 'PARQUET');

COPY INTO tb_tip
FROM 'https://yelpallen.blob.core.windows.net/yelp/tip.parquet' + @sastoken
WITH (FILE_TYPE = 'PARQUET');

COPY INTO tb_user
FROM 'https://yelpallen.blob.core.windows.net/yelp/user.parquet' + @sastoken
WITH (FILE_TYPE = 'PARQUET');

COPY INTO tb_review
FROM 'https://yelpallen.blob.core.windows.net/yelp/review.parquet' + @sastoken
WITH (FILE_TYPE = 'PARQUET');

COPY INTO tb_business
FROM 'https://yelpallen.blob.core.windows.net/yelp/business.parquet' + @sastoken
WITH (FILE_TYPE = 'PARQUET');